
// Colors
// -----------
$pink: #c3258e;

$blue: #04beec;

$orange: #f58220;

$red: #FF5468;
$green: #4DFA90;
$yellow: #FABE4D;

$gray: #cccccc;
$gray-light: #eee;
$gray-dark: #6a6a6a;

$black: #000;
$white: #fff;

// Spacing
// ----------
$spacer: 15px;

// paths
// ----------
$fonts: '../fonts';
$images: '../images';

// BS3
// ----------
$icon-font-path: '../../node_modules/bootstrap-sass/assets/';
