.sidebar {
  .sidebar-title {
    display: inline-block;
    padding: 5px 15px;
    min-width: 170px;
    height: 50px;
    margin: 0;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding-top: 7px;
    float: left;
  }
}
